<div class="row">
    <h1>Soft Skills</h1>
    <div class="text-center col-sm-6 col-md-3 col-lg-3">
        <img src="../../../assets/1asertividadDORADO.png" alt="Asertividad">
        <h3 class="col-sm-6 col-md-3 col-lg-3">ASERTIVIDAD</h3>
    </div>
    <div class="text-center vertical-align: middle col-sm-6 col-md-3 col-lg-3">
        <img src="../../../assets/1compromisoDORADO.png" alt="Compromiso">
        <h3 class="col-sm-6 col-md-3 col-lg-3">COMPROMISO</h3>
    </div>
    <div class="text-center col-sm-6 col-md-3 col-lg-3">
        <img src="../../../assets/1creatividadDORADO.png" alt="Creatividad">
        <h3 class="col-sm-6 col-md-3 col-lg-3">CREATIVIDAD</h3>
    </div>
    <div class="text-center col-sm-6 col-md-3 col-lg-3">
        <img src="../../../assets/1trabajo-en-equipoDORADOS.png" alt="Trabajo en Equipo">
        <h3 class="col-sm-6 col-md-3 col-lg-3">TRABAJO EN EQUIPO</h3>
    </div>
    
    
    
    
</div>
