<div class="row">
    <h1>Hard Skills</h1>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [imageSrc]="'../../../assets/html-5.png'"
                [showImage]="true"
                [imageHeight]="120"
                [imageWidth]="120"
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#347805'"
                [innerStrokeColor]="'#6CFF06'"
                [animation]="true"
                [outerStrokeGradient]="true"
                [animationDuration]="800"   
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [imageSrc]="'../../../assets/css-3.png'"
                [showImage]="true"
                [imageHeight]="120"
                [imageWidth]="120"
                [percent]="60"
                [radius]="100"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#347805'"
                [innerStrokeColor]="'#6CFF06'"
                [animation]="true"
                [outerStrokeGradient]="true"
                [animationDuration]="800"   
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [imageSrc]="'../../../assets/js.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [percent]="55"
                [radius]="100"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#347805'"
                [innerStrokeColor]="'#6CFF06'"
                [animation]="true"
                [outerStrokeGradient]="true"
                [animationDuration]="800"   
            ></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-lg-6">
            <circle-progress
                [imageSrc]="'../../../assets/mySQL.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [percent]="60"
                [radius]="100"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#347805'"
                [innerStrokeColor]="'#6CFF06'"
                [animation]="true"
                [outerStrokeGradient]="true"
                [animationDuration]="800"   
            ></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-lg-6">
            <circle-progress
                [imageSrc]="'../../../assets/Angular.png'"
                [showImage]="true"
                [imageHeight]="120"
                [imageWidth]="120"
                [percent]="60"
                [radius]="100"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#347805'"
                [innerStrokeColor]="'#6CFF06'"
                [animation]="true"
                [outerStrokeGradient]="true"
                [animationDuration]="800"   
            ></circle-progress>
        </div>
    <h1>Soft Skills</h1>        
</div>
