div{
    background-color: #202020;
    color: white;
}
#row{
    width: 100%;
}
circle-progress{
    margin-left: 35px;
    margin-top: 40px;
}
h1{
    padding:60px;
    text-align: center;
}
#barra{
    background-color: white;    
}