<div class="row" >
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoCv_sinfondo.png" class="img-fluid" id="foto">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1 id="nombre">Fazzolari Franco David</h1>
        <p id="profesion">Full Stack Developer Jr</p>
    </div>
</div>
<div class="row" id="divsobremi">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span>
            <h1>Sobre mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptas officiis nam excepturi sapiente quos, in ipsam delectus unde consequatur? Inventore, quisquam. Praesentium molestias aperiam suscipit nemo dolor voluptatum impedit?
            </p>
        </span>
    </div>
</div>
