<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg 10">
        <ul>
            <li>
                <h2>Estudio uno</h2>
                <h3>año</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque magni saepe voluptate ad quidem quae facilis repudiandae sit similique! Cumque labore impedit quos ab vitae enim est eaque corrupti omnis?</p>
            </li>
            <li>
                <h2>Estudio dos</h2>
                <h3>año</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias a nesciunt velit eligendi? Dolorem fuga voluptates soluta nam, quod, reprehenderit excepturi cumque dolore nulla blanditiis id rerum maxime explicabo consequuntur!</p>
            </li>
        </ul>
    </div>
</div>
